<form action="/register" method="POST"> 
    <div class="container">
    <h1>Registration</h1>

    <label for="email"><b>E-mail</b></label>
    <input type="text" placeholder="E-mail" name="email">

    <label for="firstName"><b>Firts name</b></label>
    <input type="text" placeholder="Firtst name" name="firstName">

    <label for="lastName"><b>Last name</b></label>
    <input type="text" placeholder="Last name" name="lastName">

    <button type="submit" class="btn">Register</button>
  </div>
</form>
